# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.env
.pem

# Keys
app/src/main/resources/keys/public_key_access.pem
app/src/main/resources/keys/private_key_access.pem

# IDE settings
.idea/
*.iml
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Build output directories
/build
/out
/target
bin/
*/bin/
**/bin/

# Log files
*.log

# Temporary files
tmp/
temp/

# Local configuration (if not meant to be shared)
*.local.properties